body {
  color: #fff;
  height: 100%;
  margin: 0;
}
.presupuesto_titulo {
  color: rgb(0, 107, 194);
}
h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.home {
  flex-direction: column;
}

.home {
  min-height: 100vh;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  font-family: serif;
}

.home__profile {
  height: 250px;
  border-radius: 50%;
  margin-right: 40px;
  transition: filter 3s;
  margin-bottom: 30px;
  margin-right: 0;
}

.circulo {
  width: 320px;
  height: 320px;
  border-radius: 100%;
}

.circulo > .imagen {
  width: 120%;
  height: 120%;
  border-radius: 100%;
}

nav {
  display: flex;
  padding: 15px;
  justify-content: right;
  background: rgba(0, 0, 0, 0.8);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.nav-enlace {
  color: white;
  text-decoration: none;
}

.nav-enlace:hover {
  color: rgb(0, 107, 194);
  text-decoration: none;
}

div {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.texto {
  padding-top: 90px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  line-height: 25px;
  margin: 50px;
}

.contact-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 50px;
}

section {
  background-color: white;
  color: black;
  padding-right: 20cm;
  font-weight: bold;
  padding-top: 30px;
}

.home {
  background-image: url(phpCode.png);
}

p > a {
  color: black;
}

button {
  padding: 5px 30px;
  background-color: rgb(3, 136, 245);
  border-style: none;
  margin: auto 50px;
  border-radius: 5px;
}
